---
title: Miwāfu
---

<p>This novel is set in the Mifuno Desert where the native language is Miwāfu. Names in this language are significantly different from English, so here is a short guide on pronunciation and usage.</p>

<p>The biggest difference is that every name is gendered, which is identified by the accent on the penultimate syllable. There are three types of accents:</p>

<ul>
<li><em>Grave</em> (as in hèru for stallion) is a tiny tick that goes down to the right. The grave accent indicates a masculine aspect, either in physical gender, size, or power. Names with grave accents either end in a lower pitch or the entire word is spoken in a lower tone.</li>

<li><em>Macron</em> (for example, hēru for colt) is a bar over the vowel. This is a neuter term, used for many gender-free words or expressions within the language. It is also used for mechanical devices, abstract concepts, and children—both human and beast. Macrons are spoken as a long vowel or drawing out the word just a beat longer than normal.</li>

<li><em>Acute</em> (héru for mare) is a tiny tick that goes to the upper right.  The acute indicates feminine aspects of the word. It can represent control without power or precision. These words end on a high note or the entire word is spoken in a higher pitch.</li>
</ul>

<p>The only instances where accents aren’t used is adjectives or indication of ownership. So, if a valley is owned by the clan Shimusògo, it is known as Shimusogo Valley.</p>

<p>The names themselves are phonetic. A syllable is always from a consonant cluster to the vowel. For examples: Mi.wā.fu (IPA <span class="ipa">/mi.waː.ɸɯ̥/</span>), Shi.mu.sò.go (<span class="ipa">/ɕi.mɯ.ꜜso.ɡo/</span>), and De.sò.chu (<span class="ipa">/de.ꜜso.tɕɯ̥/</span>). The only exception is the letter “n” which is considered part of the syllable before it when not followed by a vowel. For example, ga.n.ré.ko (<span class="ipa">/ɡa.ŋꜛɾe.ko/</span>) and ka.né.ko (<span class="ipa">/ka.ꜛne.ko/</span>).</p>

<p>Miwāfu has no capital letters, they are added to satisfy English conventions.</p>
