---
title: Title
---

<div class="title">
    <div class="title-area">
        <div class="large">Sand</div>
        <div class="medium">and</div>
        <div class="large">Blood</div>
    </div>

    <div class="author">D. Moonfire</div>

    <div class="publisher">
        Broken Typewriter Press &#8226; Cedar Rapids
    </div>
</div>
